.nav-color{
    background: #a223f6;
    /* background: #7c48dc; */
}
.link-color{
    color: white!important;
}

.bg-color{
    background-color: #7c48dc;
}

.title-color{
    color: #7c48dc;
}
.test-color {
    color: #7b4cd3;
}

