.banner-color{
    background: #7c48dc;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 
     */
    color: white;
    }