.home-blog {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 29px;
}
.section-tittle h2 {
    font-size: 30px;
    display: block;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
}

.home-blog .single-blogs .blog-img {
    margin-bottom: 25px;
    width: 100%;
}
a, button {
    color: rgb(160, 164, 215);
    outline: medium none;
}
.home-blog .single-blogs .blogs-cap span {
    color: #74706B;
    margin-bottom: 11px;
    display: block;
}
.home-blog .single-blogs .blogs-cap link {
    color: #292621;
    text-decoration: underline;
    font-weight: 600;
}